body {
	background: #fff url('bg/bg3.png');
	padding: 5em 5em 0;
	margin: 0;
	font-size: 15px;
	font-family: 'helvetica neue', helvetica, arial, sans-serif;
	line-height: 1.3;
	color: #222;
}

a {
	color: #222;
}

#main {
	background-color: #fff;
	width: 800px;
	margin: 0 auto;
	padding: 50px 50px 15px;
	position: relative;
}

#logo {
	background: rgba(255, 255, 255, 0.6);
	position: absolute;
	margin: 10px;
	z-index: 100;
	padding: 8px 5px 1px;
}

#slideshow {
    position: relative;
    height: 335px;
	margin: 0;
}
 
#slideshow img {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 8;
    opacity: 0.0;
	border-radius: 10px;
}
 
#slideshow img.active {
    z-index: 10;
    opacity: 1.0;
}
 
#slideshow img.last_active {
    z-index: 9;
}

#footer {
	padding-top: 10px;
	text-align: center;
	font-size: 10px;
	color: #444;
}

h1 {
	font-family: "calluna-1", "calluna-2", serif;
	text-shadow: 1px 1px 0 #fff;
	margin: 10px;
	position: absolute;
	top: 300px;
	background: rgba(255, 255, 255, 0.3);
	padding: 5px;
	right: 50px;
	z-index: 100;
}

h2 {
	font-family: "museo-sans-1", "museo-sans-2", sans-serif;
}

#content {
	padding: 0 10px;
}

#col1 {
	float: left;
	width: 70%;
}

#col2 {
	float: right;
	width: 30%;
}

li {
	list-style-type: square;
}

#contact {
	background-color: #cbe86b;
	padding: 10px;
	font-family: "calluna-1", "calluna-2", serif;
}

#footer {
	clear: both;
}